In [13]:
import numpy as np
import pandas as pd #data wrangeling
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt
import os #for setting the working drectory

In [14]:
#Importing evaluation metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [15]:
#defining the evaluation metrics
#from: https://mlflow.org/docs/latest/tutorials-and-examples/tutorial.html
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    r2 = r2_score(actual, pred)
    return rmse, mae, r2

In [16]:
#setting working directory
os.chdir("C:/Users/mah/Desktop/M5_Wallmart_Challenge")
os.getcwd()

'C:\\Users\\mah\\Desktop\\M5_Wallmart_Challenge'

In [17]:
#reading in the revenue_CA_1_FOODS_day time series csv
revenue_CA_1_FOODS_day = pd.read_csv("revenue_CA_1_FOODS_day.csv", index_col='date')
#setting the index which was saved as a row back as the index

In [18]:
#revenue_CA_1_FOODS_day.index=pd.to_datetime(revenue_CA_1_FOODS_day.index)

In [19]:
revenue_CA_1_FOODS_day

             revenue
date
2011-01-29   7240.65
2011-01-30   6705.51
2011-01-31   4584.85
2011-02-01   4965.46
2011-02-02   4368.07
...              ...
2016-04-20   6938.53
2016-04-21   6824.21
2016-04-22   8226.64
2016-04-23  10037.58
2016-04-24  11229.93

[1913 rows x 1 columns]

In [20]:
#reading in the revenue_CA_1_FOODS_day time series csv
revenue_CA_1_FOODS_day = pd.read_csv("revenue_CA_1_FOODS_day.csv", index_col='date')
#setting the index which was saved as a row back as the index

#revenue_CA_1_FOODS_day.index=pd.to_datetime(revenue_CA_1_FOODS_day.index)

revenue_CA_1_FOODS_day

             revenue
date
2011-01-29   7240.65
2011-01-30   6705.51
2011-01-31   4584.85
2011-02-01   4965.46
2011-02-02   4368.07
...              ...
2016-04-20   6938.53
2016-04-21   6824.21
2016-04-22   8226.64
2016-04-23  10037.58
2016-04-24  11229.93

[1913 rows x 1 columns]

In [21]:
#Define training and testing data set
#for dependent variables
revenue_CA_1_FOODS_day_to_train = revenue_CA_1_FOODS_day.iloc[:(len(revenue_CA_1_FOODS_day)-31)]
revenue_CA_1_FOODS_day_to_test = revenue_CA_1_FOODS_day.iloc[(len(revenue_CA_1_FOODS_day)-31):]

In [22]:
#every year (except leap year) is a bit longer that 52 weeks
365/7

52.142857142857146

In [23]:
from statsmodels.graphics.tsaplots import plot_acf#to be exact ever year has 52 weeks and about one day
7*(365/7-52)
#Thus to get the same weekday a year ago you have to go 366 days back

1.0000000000000213

In [24]:
#Naive model: just use the value of the past years closest week day
#create a vector of zeros in which ton input the 31 day naive forecasts
data = np.zeros(31)
#create the naive forecasting series with the index identical to the days to forecast which are the test data set index
naive_forecast = pd.Series(data,index=revenue_CA_1_FOODS_day_to_test.index)
#loop goes threw the complete data and gets forecasts
#we take the length thus the last day
#minus 365 to get a year back
#then minus one to get the same week day of the past year
#then an additional minus 1 as 2016 is a leap year
#i runs from 0 to 30 so that the horizon we go back deminishes as we forecast further and further
for i in range (0,31):
    naive_forecast[i] = revenue_CA_1_FOODS_day.revenue[len(revenue_CA_1_FOODS_day)-(365+1+1-i)]
    
#Note: 2016 was a Leapyear (Schalkjahr)
#Calenda: https://kalender-365.de/schaltjahre.php

In [25]:
naive_forecast

#creating a table with the forecasting evaluation metric values for all four models
#each row contains the evaluation metrics for a model
#the loop runs threw range of 3 as we have three metrics (0,1,2)
fc_acc_naive=pd.DataFrame(index=['rmse', 'mae', 'r2'])
fc_acc_naive["Additive"]       = [eval_metrics(revenue_CA_1_FOODS_day_to_test, naive_forecast)[a] for a in range(0,3)]

In [26]:
fc_acc_naive
#Naive model preforms better as it account for weekly and yearly seasonality and towards the end of the data set
#which we forecast there is no trend
#chekc if this month and its past year month has any speacial events

#for i in range(0,31):
#    print(i)

        Additive
rmse  817.391724
mae   587.930968
r2      0.787523